{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-paypal/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.paypalButton.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-paypal/settings/notifications' %}

{% set saveButton %}
    <div class="buttons">
        <input class="btn submit" type="submit"
               value="{{ 'Save'|t('enupal-paypal') }}">
    </div>
{% endset %}

{% set content %}
    <input type="hidden" name="action"
           value="enupal-paypal/settings/save-settings">
    <input type="hidden" name="paypalScenario" value="customerNotification">
    <div id="settings-cp">
        {% namespace 'settings' %}

            {{ forms.lightswitchField({
                first: true,
                label: "Enable Customer Email Notification"|t('enupal-paypal'),
                id: 'enableCustomerNotification',
                name: 'enableCustomerNotification',
                on: settings.enableCustomerNotification,
                onLabel: "Enable",
                offLabel: "Disable",
                errors: settings.getErrors('enableCustomerNotification')
            }) }}

            {{ forms.textField({
                label: "Subject"|t('enupal-paypal'),
                instructions: "The email Subject"|t('enupal-paypal'),
                name: 'customerNotificationSubject',
                value: settings.customerNotificationSubject,
                errors: (settings is defined ? settings.getErrors('customerNotificationSubject') : null)
            }) }}

            {{ forms.textField({
                label: 'Email Recipients'|t('enupal-paypal'),
                instructions: "A comma-delimited list of email addresses to notify when your backup is finished."|t('enupal-paypal'),
                name: 'customerNotificationRecipients',
                value: settings.customerNotificationRecipients,
                errors: (settings is defined ? settings.getErrors('customerNotificationRecipients') : null),
                first: true
            }) }}

            {{ forms.textField({
                label: "Sender Name"|t('enupal-paypal'),
                instructions: "The name of the sender of your notification email"|t('enupal-paypal'),
                name: 'customerNotificationSenderName',
                value: settings.customerNotificationSenderName,
                errors: (settings is defined ? settings.getErrors('customerNotificationSenderName') : null)
            }) }}

            {{ forms.textField({
                label: "Sender Email Address"|t('enupal-paypal'),
                instructions: "The 'From' email address of your notification email"|t('enupal-paypal'),
                name: 'customerNotificationSenderEmail',
                value: settings.customerNotificationSenderEmail,
                errors: (settings is defined ? settings.getErrors('customerNotificationSenderEmail') : null)
            }) }}

            {{ forms.textField({
                label: "Reply To Email Address"|t('enupal-paypal'),
                instructions: "The 'Reply To' email address of your notification email"|t('enupal-paypal'),
                name: 'customerNotificationReplyToEmail',
                value: settings.customerNotificationReplyToEmail,
                errors: (settings is defined ? settings.getErrors('customerNotificationReplyToEmail') : null)
            }) }}

        {% endnamespace %}
    </div>

{% endset %}