{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% import "_includes/forms" as forms %}
<div class="meta">
    <h6>{{ 'General'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        first: true,
        label: "Name <span class='info'>What this Paypal Button will be called in the CP.</span>"|t('enupal-paypal'),
        id: 'name',
        name: 'name',
        value: paypalButton.name,
        errors: paypalButton.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        first: true,
        label: "Handle <span class='info'>How you’ll refer to this Paypal Button in the templates.</span>"|t('enupal-paypal'),
        id: 'handle',
        name: 'handle',
        value: paypalButton.handle,
        errors: paypalButton.getErrors('handle'),
        autofocus: true,
        required: true
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Paypal Button'|t('sprout-forms') }}</h6>
    {% set amountInput %}
    <div class="flex">
        <div class="textwrapper">
            {{ forms.text({
                label: "Amount <span class='info'>You can leave it in blank if is a donation</span>"|t('enupal-paypal'),
                id: 'amount',
                name: 'amount',
                placeholder: 'Enter price'|t('enupal-paypal'),
                value: paypalButton.amount
            }) }}
        </div>
        <div class="textwrapper">
            {{ forms.text({
                label: "Amount <span class='info'>You can leave it in blank if is a donation</span>"|t('enupal-paypal'),
                id: 'amount',
                name: 'amount',
                value: paypalButton.amount
            }) }}
        </div>
    </div>
    {% endset %}

    {{ forms.field({
        id: 'amount',
        label: 'Amount'|t('enupal-paypal'),
        required: true,
        errors: paypalButton.getErrors('amount')|merge(paypalButton.getErrors('stock')),
    }, amountInput) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Advanced'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        first: true,
        label: "Button Name <span class='info'></span>"|t('enupal-paypal'),
        id: 'buttonName',
        name: 'buttonName',
        value: paypalButton.buttonName,
        errors: paypalButton.getErrors('buttonName'),
        autofocus: true,
        required: true
    }) }}
</div>