{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% import "_includes/forms" as forms %}

{% set currencyOptions = craft.enupalPaypal.getCurrencyIsoOptions() %}
<div class="meta">
    <h6>{{ 'General'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        first: true,
        label: "Name <span class='info'>What this Paypal Button will be called in the CP.</span>"|t('enupal-paypal'),
        id: 'name',
        name: 'name',
        value: paypalButton.name,
        errors: paypalButton.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        first: true,
        label: "Handle <span class='info'>How you’ll refer to this Paypal Button in the templates.</span>"|t('enupal-paypal'),
        id: 'handle',
        name: 'handle',
        value: paypalButton.handle,
        errors: paypalButton.getErrors('handle'),
        autofocus: true,
        required: true
    }) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Paypal Button'|t('sprout-forms') }}</h6>
    {% set amountInput %}
    <div class="flex">
        <div class="textwrapper">
            {{ forms.text({
                label: "Amount <span class='info'>You can leave it in blank if is a donation</span>"|t('enupal-paypal'),
                id: 'amount',
                name: 'amount',
                placeholder: 'Enter amount'|t('enupal-paypal'),
                value: (paypalButton.amount == '0' ? '0'|number : (paypalButton.amount ? paypalButton.amount|number ?: ''))
            }) }}
        </div>
        <div class="textwrapper">
            {{ forms.selectField({
                id: 'currency',
                name: 'currency',
                options: currencyOptions,
                value: paypalButton.currency
            }) }}
        </div>
    </div>
    {% endset %}

    {{ forms.field({
        id: 'amount',
        label: 'Amount'|t('enupal-paypal'),
        errors: paypalButton.getErrors('amount')|merge(paypalButton.getErrors('currency')),
    }, amountInput) }}
</div>
<hr>
<div class="meta">
    <h6>{{ 'Advanced'|t('sprout-forms') }}</h6>

    {{ forms.textField({
        first: true,
        label: "Button Name <span class='info'></span>"|t('enupal-paypal'),
        id: 'buttonName',
        name: 'buttonName',
        value: paypalButton.buttonName,
        errors: paypalButton.getErrors('buttonName'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Return URL <span class='info'>Redirect the user to this URL when the pay is successfully</span>"|t('enupal-paypal'),
        id: 'returnUrl',
        name: 'returnUrl',
        value: paypalButton.returnUrl,
        placeholder: '/thank-you',
        autofocus: true,
        errors: paypalButton.getErrors('returnUrl')
    }) }}

    {{ forms.textField({
        label: "Cancel URL <span class='info'>Redirect the user to this URL when they click the cancel button</span>"|t('enupal-paypal'),
        id: 'cancelUrl',
        name: 'cancelUrl',
        placeholder: '/something-went-wrong',
        value: paypalButton.cancelUrl,
        autofocus: true,
        errors: paypalButton.getErrors('cancelUrl')
    }) }}
</div>