{% set button = order.getButton() %}
<div class="order-details pane">
    <table id="" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Button'|t('enupal-paypal') }}</th>
            <th scope="col">{{ 'Price'|t('enupal-paypal') }}</span></th>
            <th scope="col">{{ 'Quantity'|t('enupal-paypal') }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr class="infoRow">
            <td>
                <a href="{{ button.cpEditUrl }}">{{ button.name }}</a>
            </td>
            <td>
                {{ button.getBasePrice()|currency(order.currency) }}
            </td>
            <td>
                {{ order.quantity }}
            </td>
            <td></td>
            <td></td>
            <td>
                <span class="right">{{ order.getBasePrice()|currency(order.currency) }}</span>
            </td>
            <td>
                    <span class="tableRowInfo" data-icon="info"
                          href="#"></span>
            </td>
        </tr>
                {# SHIPPING AND TAX #}
                <tr>
                    <td></td>
                    <td>
                        <strong>{{ "Shipping "|t('enupal-paypal')}}</strong><br>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="right">{{ order.shipping|currency(order.currency) }}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <strong>{{ "Tax "|t('enupal-paypal')}}</strong><br>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="right">{{ order.tax|currency(order.currency) }}</span>
                    </td>
                    <td></td>
                </tr>

        <tr>
            <td></td>
            <td>
                <div class="isPaid">
                    <span>{{ 'PAID'|t('enupal-paypal') }}</div>
            </td>
            <td></td>
            <td></td>
            <td><h2>{{ "Total Amount"|t('enupal-paypal') }}</h2></td>
            <td>
                <h2 class="right">{{ order.totalPrice|currency(order.currency) }}</h2>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
