<div class="order-details pane">
    <table id="" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Button'|t('commerce') }}</th>
            <th scope="col">{{ 'Price'|t('commerce') }}</span></th>
            <th scope="col">{{ 'Quantity'|t('commerce') }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr class="infoRow">
            <td>
                <a href="{{ order.getButton().cpEditUrl }}">{{ order.getButton().name }}</a>
            </td>
            <td>
                {{ order.totalPrice|currency(order.currency) }}
            </td>
            <td>
                {{ order.quantity }}
            </td>
            <td></td>
            <td>
                <span class="right">{{ order.totalPrice|currency(order.currency) }}</span>
            </td>
            <td>
                    <span class="tableRowInfo" data-icon="info"
                          href="#"></span>
            </td>
        </tr>
                {# SHIPPING AND TAX #}
                <tr>
                    <td></td>
                    <td>
                        <strong>{{ "Shipping "|t('enupal-paypal')}}</strong><br>{{ adjustment.name|title }}
                        <span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
                    </td>
                    <td></td>
                </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{ "Items Total (with adjustments)" }}</strong></td>
            <td>
                <span class="right">{{ order.itemTotal|currency(order.currency) }}</span>
            </td>
            <td></td>
        </tr>

        {% for adjustment in order.orderAdjustments %}
            <tr>
                <td>
                    <strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br>{{ adjustment.name|title }}
                    <span class="info"><strong>{{ adjustment.type|title|t('commerce') }} {{ "Adjustment"|t('commerce') }}</strong><br> {{ adjustment.description }}</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span class="right">{{ adjustment.amount|currency(order.currency) }}</span>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                {% if order.isPaid and order.totalPrice > 0 %}
                    <div class="paidLogo">
                        <span>{{ 'PAID'|t('commerce') }}</div>
                {% endif %}
            </td>
            <td></td>
            <td></td>
            <td><h2>{{ "Total Price"|t('commerce') }}</h2></td>
            <td>
                <h2 class="right">{{ order.totalPrice|currency(order.currency) }}</h2>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
