{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-paypal/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set crumbs = [
    { label: "Buttons"|t('enupal-paypal'), url: cpUrl('enupal-paypal/buttons') }
] %}

{% set title = 'Edit Paypal Button'|t('enupal-paypal') %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <input type="hidden" name="action" value="enupal-paypal/buttons/save-button">
    {{ redirectInput('enupal-button/buttons') }}
    <input type="hidden" id="buttonId" name="id" value="{{ button.id is defined ? button.id : '' }}">

    <div class="btngroup submit first">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('enupal-paypal') }}">
        {% if button.id != null %}
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit" data-redirect="{{('enupal-paypal/button/edit/'~button.id)|hash}}">{{ "Save and continue editing"|t('enupal-paypal') }} <span class="shortcut">⌘S</span></a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="enupal-paypal/buttons/save-button">
    <input type="hidden" name="handle" value="{{ button.handle }}">
    <input type="hidden" name="buttonId" value="{{ buttonId }}">

    {% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}
    <div id="fields" class="pane">
        {{ forms.textField({
            label: "Amount"|t('enupal-paypal'),
            instructions: "You can leave it in blank if is a donation"|t('enupal-paypal'),
            id: 'amount',
            name: 'amount',
            value: backup.amount,
            autofocus: true,
            first: true,
            errors: backup.getErrors('amount')
        }) }}

        {{ forms.textField({
            label: "Return URL"|t('enupal-paypal'),
            instructions: "Redirect the user to this URL when the pay is successfully"|t('enupal-paypal'),
            id: 'returnUrl',
            name: 'returnUrl',
            value: backup.returnUrl,
            autofocus: true,
            errors: backup.getErrors('returnUrl')
        }) }}

        {{ forms.textField({
            label: "Cancel URL"|t('enupal-paypal'),
            instructions: "Redirect the user to this URL when they click the cancel button"|t('enupal-paypal'),
            id: 'cancelUrL',
            name: 'cancelUrL',
            value: backup.cancelUrL,
            autofocus: true,
            errors: backup.getErrors('cancelUrL')
        }) }}

    </div>
{% endblock %}

{% block details %}
    <div>
        {% include "enupal-paypal/buttons/_sidebar/settings" %}

        <div class="deletebackup field">
            <div class="heading"></div>
            <div class="input">
                <div class="right">
                    <form method="post" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="id" value="{{ backup.id }}">
                        <input type="button" class="btn small formsubmit"
                               value="Delete"
                               data-action="enupal-paypal/buttons/delete-button"
                               data-confirm="Are you sure you want to delete this Paypal Button, and all of it's data?"
                               data-redirect="{{ ('enupal-paypal/buttons')|hash }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\BackupAsset") %}
{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\FontAwesomeAsset") %}
{% js %}
    $(document).ready(function() {
    new EnupalPaypal();
    });
{% endjs %}
