{#
/**
 * EnupalPaypal plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}
{% set bodyClass = craft.app.request.getSegments()|slice(0, 3)|join(' ') %}

{% set selectedSubnavItem = craft.app.request.getSegment(2) %}
{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li>
                <a href="{{ cpUrl('enupal-paypal/settings/general') }}"
                   {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}><i
                            class="fa fa-paypal fa-fw" aria-hidden="true"></i>&nbsp;{{ "General"|t('enupal-paypal') }}
                </a>
            </li>
            <li>
                <a href="{{ cpUrl('enupal-paypal/settings/taxes') }}"
                   {% if selectedSidebarItem == 'taxes' %}class="sel"{% endif %}><i
                            class="fa fa-percent fa-fw" aria-hidden="true"></i>&nbsp;{{ "Taxes"|t('enupal-paypal') }}
                </a>
            </li>
            <li class="heading"><span>{{ "Advanced"|t('enupal-paypal') }}</span>
            </li>
            <li>
                <a href="{{ cpUrl('enupal-paypal/settings/notifications') }}" {% if selectedSidebarItem == 'notifications' %} class="sel" {% endif %}><i
                            class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;{{ "Notifications"|t('enupal-paypal') }}
                </a>
            </li>
        </ul>
    </nav>

{% endset %}

{% do view.registerAssetBundle("enupal\\paypal\\assetbundles\\FontAwesomeAsset") %}