<form class="paypal-button" method="post" action="{{ button.getPaypalUrl() }}" target="_blank">
    <input name="item_name" value="{{ button.name }}" type="hidden">
    <input name="amount" value="{{ button.amount|number }}" type="hidden">
    <input name="item_number" value="{{ button.sku }}" type="hidden">
    <input name="no_shipping" value="{{ button.shippingOption }}" type="hidden">
    <input name="undefined_quantity" value="{{ button.customerQuantity }}" type="hidden">
    {% if button.getTax() %}
    <input name="{{ button.getTaxType() }}" value="{{ button.getTax()|number }}" type="hidden">
    {% endif %}
    {% if button.getDiscount() %}
    <input name="{{ button.getDiscountType() }}" value="{{ button.getDiscount()|number }}" type="hidden">
    {% endif %}
    <input name="shipping" value="{{ button.shippingAmount|number }}" type="hidden">
    <input name="notify_url" value="{{ button.getIpnUrl() }}" type="hidden">
    <input name="return" value="{{ button.getReturnUrl() }}" type="hidden">
    <input name="cancel_return" value="{{ button.getCancelUrl() }}" type="hidden">
    <input name="rm" value="2" type="hidden">
    <input name="currency_code" value="{{ button.currency }}" type="hidden">
    <input name="cmd" value="_xclick" type="hidden">
    <input name="business" value="{{ button.getBusiness() }}" type="hidden">
    <input name="bn" value="craft_plugin_paypal" type="hidden">
    <input style='border: none;' class='paypalbuttonimage' type='image' src='{{ button.getButtonUrl() }}' border='0' name='submit' alt='{{ "PayPal - The safer, easier way to pay online!"|t('enupal-paypal')}}'>
</form>